/* .slide {
  margin-left: 55px;
  margin-right: 55px;

} */



.navbar-inverse {
  background-color: rgb(250, 102, 48);
  border-color: rgb(250, 102, 48);
}

.navbar-inverse .navbar-brand {
  color: #fff;
  cursor: default;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: rgb(248, 75, 12);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgb(250, 102, 48);
}

.slide {
  margin-left: 55px;
  margin-right: 55px;

}

.jumbotron {
  background-color: transparent;
 margin-top: 20px;
}

.btn-primary {
  background-color: #e84118;
  border-color: transparent;
}

.dropdown .btn {
  background-color: rgb(250, 102, 48);
  color: #fff;
}

.faq-header {
  background-color: rgb(250, 102, 48);
  width: auto;
  border-radius: 3px;
  color: white;
  text-align: center;
}



/* footer {
  border-top: 2px solid rgb(250, 102, 48);
} */